@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="page">
  
    <main>
        @*<div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@
        
         <div class="top-row">
                
                        <h3 class="linkColor">Sports Pro</h3>
                        
                          <a href="login" target="_self" class="linkColor">Login</a>

                        
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
